<% if @opts[:welcome_mail] %>
  <p>Olá <%= @user.customer.name %>,</p>
  <p>Bem vindo (a) ao Portal do Cliente da Volk do Brasil!</p>
  <p>
    A partir de agora você poderá ter acesso:
  </p>

  <ul>
    <li>Consulta e 2ª via de notas ficais e boletos;</li>
    <li>Solicitação de serviços;</li>
    <li>Solicitação de orçamentos;</li>
    <li>Acompanhar novidades;</li>
  </ul>

  <p>Clique no link abaixo para começar</p>

  <p><%= link_to t('.password_change_link'), edit_password_url(@resource,
                                                               reset_password_token: @token,
                                                               config: @opts[:client_config].to_s,
                                                               redirect_url: @opts[:redirect_url].to_s,
                                                               authkey: @opts[:authkey]).html_safe %></p>

  <p>Em caso de dúvidas, entrem em contato com o seu vendedor ou com a nossa central de <br>atendimento: </p>
  <p>Tel: (41) 2105-0055 / Email: sac@volkdobrasil.com.br</p>
  <p>Desejamos uma excelente jornada!</p>
  <p>Volk do Brasil</p>
<% else %>
  <p><%= t(:hello).capitalize %> <%= @resource.name %>!</p>

  <p><%= t '.request_reset_link_msg' %></p>

  <p><%= link_to t('.password_change_link'), edit_password_url(@resource,
                                                               reset_password_token: @token,
                                                               config: @opts[:client_config].to_s,
                                                               redirect_url: @opts[:redirect_url].to_s,
                                                               authkey: @opts[:authkey]).html_safe %></p>

  <p><%= t '.ignore_mail_msg' %></p>
  <p><%= t '.no_changes_msg' %></p>
<% end %>